<% provide(:title, "About") %>
<h1>About Work for Free </h1>
<p>This is an app that keeps track of the productive work you do and stores that time as free time. You
can then use that free time to do things you enjoy, until you run out of free time</p>