<% provide(:title, "How To Use") %>
<h1 style="margin-botton: 10px">How to use <span class="title">Work To Relax</span></h1>

<hr/>

<ol>
  <li> Sign up for an account.</li>

  <li>After signing up, you will be brought to the Timer page. Notice how you have 0 Free Time. You can't relax yet, so go ahead and start working to earn Free Time! </li>

  <li> Press "start" to start the timer, and reset to save the data. If the timer is already started and you switch your activity, it will automatically reset the timer and save the data.</li>

  <li> You can add, edit, or delete buttons by clicking the "Add/Edit Button". </li>

  <li> Click on the summary link in the navigation bar to view your activity log. You can delete individual entries if you no longer want to keep track of it.</li>

</ol>
