<% provide(:title, "Home") %>

<h1> Welcome to <span class="title">Work to Relax</span>! </h1>

<hr/>
<h3>To skip the reading and get started, click <%= link_to "this link", help_path %>. </h3>

<hr/>
<div>
  <a class="btn btn-primary" data-toggle="collapse" href="#home-text" aria-expanded="false" aria-controls="home-text">About the Website</a>
  <div id="home-text" class="home-div collapse well" data-toggle="collapse">
    <p>This website is designed to help procrastinators. </p>

    <p>Being a former procrastinator, I noticed that there was a common theme with procrastination: I didn't want to study or do any work, so I did something else instead. But when I procrastinated, I couldn't fully enjoy what I was doing, since I knew there were things that needed to get done. So I came up with this idea: Work to Relax. </p>

    <p>The concept is pretty simple. For every minute of work you do, you get a minute of Free Time. The Free Time you accumulate is then used to relax in whichever way you want to. This allows you to relax without guilt, since you earned the Free Time through working, and you know exactly how much Free Time you have to relax! 

    <p>In addition to keeping track of the Free Time you have, this website also keeps track of the activities you do, so you can analyze the data and gain a sense of how you are spending your time.</p>

    <p> I hope you enjoy the website that I created!</p>

    <p>Tony </p>
  </div>
</div>




