<% provide(:title, "Home") %>

<h1> Welcome to Work to Relax! </h1>

<p>This website is designed to help procrastinators all around the world. </p>

<p>Being a former procrastinator myself, I noticed that there was a common them with procrastination: I didn't want to study or do any chores, but when I procrastinated, I also counldn't fully enjoy what I was doing, since I knew there were things that needed to get done. So I can up with this idea: Work to Relax. </p>

<p>The concept is pretty simple. For every minute of work you do, you get a minute of Free Time. The Free Time you accumulate is then used to relax in whichever way you want to. This allows you to relax without the guilt, since you know exactly how much time you worked. You know exactly how much Free Time you have to relax! 

<p>In addition to keeping track of the Free Time you have, this website also keeps track of the activities you do, so you can analyze it and gain a sense of what you are spending your time doing.</p>

<p> I hope you enjoy the website that I created! Go ahead and click <%= link_to "this link", help_path %> to learn how to get started!</p>

<p>Tony </p>


