<% provide(:title, "Home") %>
<h2>Timer</h2>

<div class="container text-center">
  <p id="counter"></p>
  <button id="start-button" type="button" class="btn btn-success">Start</button>
  <button id="stop-button" type="button" class="btn btn-danger">Stop</button>
  <button id="reset-button" type="button" class="btn btn-primary">Reset</button>
</div>

<h2>Time stored</h2>
<p> Free Time: <span id="free"> <%= @free_time %></span></p>


<h2>Buttons</h2>

<div class="container">
  <button class="btn btn-success" onclick="toggle()">
    Work 
  </button>
  <input id="work-toggle" data-toggle="toggle" checked type="checkbox">
  
</br>

  <button class="btn btn-warning" onclick="toggle()">
    Free 
  </button>
  <input id="free-toggle" data-toggle="toggle" type="checkbox">
  
</div>
