@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* navbar */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #90C3D4;
  text-decoration: none;
}

#nav-buttons {
  margin-left: 10px;
}

#logged-in-user {
  color: #0099FF;
}

/* Home page */ 

.home-div > p {
  font-size: 15px;
  font-family: Verdana;
  color: green;
}

/* How to Use Page */

ol > li {
  font-size: 20px;
  color: green;
  margin: 10px 10px 10px 10px;
  padding: 3px 3px 3px 3px;
}

.title {
  color: #5D9BBA;
}

/* User show page */

$work-color:  #1D804E;
$relax-color: #5D9BBA;
$free-color: #C74B42;

@media screen and ( min-width: 992px ) {
  .border-left {
    border-left: 1px solid black;
  }
}

.counter-pause {
  color: black;
  transition: color 2s;
}

.counter-work {
  color: $work-color;
  transition: color 2s;
}

.counter-relax {
  color: $relax-color;
  transition: color 2s;
}

#counter {
  font-family: monospace;
  font-size: 100px;
}

#free {
  font-size: 30px;
  color: $free-color;
}

.work-label {
  color: $work-color;
}

.relax-label {
  color: $relax-color;
}

.activity {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  font-size: 15px;

}


#notice {
 opacity: 0;
 visibility: visible;
}

/* Buttons */

.input-small {
  width: 90px;
}

.work-button-label {
  color: $work-color;
}

.relax-button-label {
  color: $relax-color;
}

.work-option {
  color: $work-color;
}

.relax-option {
  color: $relax-color;
}

/* Summary page */

.pie {
  widith: 100%;
  height: 100%;
}

#total-work {
  color: $work-color;
  font-size: 30px
}

#total-relax {
  color: $relax-color;
  font-size: 30px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}